{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - {% if object.name %}{{ object.name }}{% else %}Добавить компанию{% endif %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-6 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>

                    <form class="forms" method="post">
                        {% csrf_token %}
                        {{ form.non_form_errors }}
                        {{ form.media }}
                        {{ form.as_p }}


                        <h5 class="text-info my-3">Телефоны компании</h5>
                        {{ phone_formset.non_form_errors }}
                        {{ phone_formset.management_form }}
                        {% for form in phone_formset %}
                            {{ form.as_p }}
                        {% endfor %}

                        <h5 class="text-info my-3">Почта компании</h5>
                        {{ email_formset.non_form_errors }}
                        {{ email_formset.management_form }}
                        {% for form in email_formset %}
                            {{ form.as_p }}
                        {% endfor %}

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary mr-2">Принять</button>
                            {% if update %}
                                <button class="btn btn-light">Отмена</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}