{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Company List
{% endblock title %}

{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Основное меню</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список компаний</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Список компаний</h6>
                    {% if perms.contenttypes.manager_perm %}
                        <a href="{% url 'companies:company_create' %}" class="btn btn-info mb-3">Добавить</a>
                    {% endif %}
                    <div class="row table-responsive">
                        <table class="table col-12">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Названия компании <a
                                        href="{% url 'companies:company_list' %}?sorting=name_asc">
                                    <i class=" link-arrow {% if order == 'name' %}active{% endif %}"
                                       data-feather="chevrons-down"
                                       width="15" height="15"></i></a>
                                    <a href="{% url 'companies:company_list' %}?sorting=name_desc"><i
                                            class="link-arrow {% if order == '-name' %}active{% endif %}"
                                            data-feather="chevrons-up"
                                            width="15"
                                            height="15"></i></a>
                                </th>
                                <th scope="col">ФИО руководителя</th>
                                <th scope="col">Краткое описание</th>
                                <th scope="col">Адрес</th>
                                <th scope="col">Дата создания записи <a
                                        href="{% url 'companies:company_list' %}?sorting=data_asc"><i
                                        class="link-arrow {% if order == 'created_at' %}active{% endif %}"
                                        data-feather="chevrons-down"
                                        width="15"
                                        height="15"></i></a>
                                    <a href="{% url 'companies:company_list' %}?sorting=data_desc"><i
                                            class="link-arrow {% if order == '-created_at' %}active{% endif %}"
                                            data-feather="chevrons-up"
                                            width="15"
                                            height="15"></i></a>
                                </th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in companies %}
                                <tr class='clickable-row default-cursor' data-href="{{ company.get_absolute_url }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ company.name }}</td>
                                    <td>{{ company.supervisor }}</td>
                                    <td>{{ company.short_description | safe }}</td>
                                    <td>{{ company.address }}</td>
                                    <td>{{ company.created_at }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">Нет записей о текущих компаниях</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% if is_paginated %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <nav aria-label="...">
                                    <ul class="pagination pagination-rounded">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.previous_page_number }}&sorting={{ order }}">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&laquo;</a>
                                            </li>
                                        {% endif %}

                                        {% for page in page_obj.paginator.page_range %}
                                            <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                                    class="page-link"
                                                    href="?page={{ page }}&sorting={{ order }}">{{ page }}</a></li>
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.next_page_number }}&sorting={{ order }}">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
