{% extends "base.html" %}


{% block title %}
    {{ block.super }} - {{ object.name }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-6 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">детальная информация о компании</h4>
                    <div class="table-responsive mb-3">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    Название компании
                                </td>
                                <td>
                                    {{ object.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ФИО руководителя
                                </td>
                                <td>
                                    {{ object.supervisor }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Адрес компании
                                </td>
                                <td>
                                    {{ object.address }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email's компании
                                </td>
                                <td>
                                    {% for email in object.emails_company.all %}
                                        <p>{{ email.email }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Телефоны компании
                                </td>
                                <td>
                                    {% for phone in object.phones_company.all %}
                                        <p>{{ phone.phone_number }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Краткое описание
                                </td>
                                <td>
                                    {{ object.short_description | safe }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if perms.contenttypes.manager_perm and request.user.pk == object.manager.pk %}
                            <a href="{% url 'companies:company_edit' object.pk %}"
                               class="btn btn-warning ml-2">Изменить</a>
                        {% endif %}
                        <a href="{% url 'companies:company_list' %}" class="btn btn-light ml-2">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Список всех проектов компании {{ company.name }}</h6>
                    {% if perms.contenttypes.manager_perm %}
                        <a href="{% url 'projects:project_create' object.pk %}" class="btn btn-info mb-3">Добавить</a>
                    {% endif %}
                    <div class="row table-responsive">
                        <table class="table col-12">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Название проекта</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Срок начала</th>
                                <th scope="col">Срок окончания</th>
                                <th scope="col">Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in company.projects_company.all %}
                                <tr class='clickable-row default-cursor' data-href="{{ project.get_absolute_url }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description | safe }}</td>
                                    <td>{{ project.project_start }}</td>
                                    <td>{{ project.project_stop }}</td>
                                    <td>{{ project.price }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">Нет текущих проектов</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Список всех сообщений компании {{ company.name }}</h6>
                    <div class="row table-responsive">
                        <table class="table col-12">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Канал обращения</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Оценка</th>
                                <th scope="col">Проект</th>
                                <th scope="col">Менеджер</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messagess %}
                                <tr class='clickable-row default-cursor' data-href="{{ message.get_absolute_url }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ message.get_verbose_channel_name }}</td>
                                    <td>{{ message.description | safe }}</td>
                                    <td>{{ message.grade | safe }}</td>
                                    <td>{{ message.project.name }}</td>
                                    <td>{{ message.manager.first_name }} {{ message.manager.last_name }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">Нет текущих сообщений</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
