{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ block.super }} - Сообщение: {{ object.get_verbose_channel_name }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-8 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">детальная информация по сообщению</h4>
                    <div class="table-responsive mb-3">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    Канал
                                </td>
                                <td>
                                    {{ object.get_verbose_channel_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Описание
                                </td>
                                <td>
                                    {{ object.description | safe }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Теги
                                </td>
                                <td>
                                    {% for tag in object.tags.all %}
                                        <p>{{ tag.name }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Оценка
                                </td>
                                <td>
                                    <div data-id="{{ object.id }}" data-action="like" title="Нравится">
                                        <i class="mdi {% if liked %}mdi-heart{% else %}mdi-heart-outline{% endif %}"></i>
                                        <span
                                                data-count="like">{{ message.grade }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Проект
                                </td>
                                <td>
                                    {{ object.project.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Компания
                                </td>
                                <td>
                                    {{ object.project.company.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Менеджер
                                </td>
                                <td>
                                    {{ message.manager.email }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if perms.contenttypes.manager_perm and request.user.pk == object.manager.pk %}
                            <a href="{% url 'messagess:message_edit' object.pk %}"
                               class="btn btn-warning ml-2">Изменить</a>
                        {% endif %}
                        <a href="{% url 'messagess:message_list' %}" class="btn btn-light ml-2">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/js/crm_ajax.js' %}"></script>
{% endblock %}
