{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load params_tag %}


{% block title %}
    {{ block.super }} - MessageList
{% endblock title %}

{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Основное меню</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список всех сообщений</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-9 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Список всех сообщений</h6>
                    <div class="row table-responsive">
                        <table class="table col-12">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Канал обращения</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Теги</th>
                                <th scope="col">Оценка</th>
                                <th scope="col">Проект</th>
                                <th scope="col">Компания</th>
                                <th scope="col">Менеджер</th>
                                <th scope="col">Дата создания сообщения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                                <tr class='clickable-row default-cursor' data-href="{{ message.get_absolute_url }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ message.get_verbose_channel_name }}</td>
                                    <td>{{ message.description | safe }}</td>
                                    <td>
                                        {% for tag in message.tags.all %}
                                            <p>{{ tag.name }}</p>
                                        {% endfor %}
                                    </td>
                                    <td>{{ message.grade }}</td>
                                    <td>{{ message.project.name }}</td>
                                    <td>{{ message.project.company.name }}</td>
                                    <td>{{ message.manager.email }}</td>
                                    <td>{{ message.created_at }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">Нет текущих сообщений</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% if is_paginated %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <nav aria-label="...">
                                    <ul class="pagination pagination-rounded">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?{% param_replace page=page_obj.previous_page_number %}">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&laquo;</a>
                                            </li>
                                        {% endif %}

                                        {% for page in page_obj.paginator.page_range %}
                                            <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                                    class="page-link"
                                                    href="?{% param_replace page=page %}">{{ page }}</a></li>
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
{#                                                   href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">#}
                                                   href="?{% param_replace page=page_obj.next_page_number %}">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-text mb-2">Фильтры и сортировка</h5>
                    <form method="get" class="form">
                        {% for field in filter.form %}
                            {% bootstrap_field field %}
                        {% endfor %}
                        {% buttons %}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">
                                    Подтвердить
                                </button>
                            </div>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/js/crm_ajax.js' %}"></script>
{% endblock %}
