{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InfinityCRM - Login</title>
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}"/>
</head>
<body>
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">

            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pr-md-0">
                                <div class="auth-left-wrapper">

                                </div>
                            </div>
                            <div class="col-md-8 pl-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <p
                                       class="noble-ui-logo logo-light d-block mb-2">Infinity<span>CRM</span></p>
                                    <h5 class="text-muted font-weight-normal mb-4">Добро пожаловать! Войдите в свою
                                        учетную запись.</h5>
                                    <form class="forms-sample" method="post">
                                        {% csrf_token %}

                                        {{ form.non_form_errors }}
                                        {{ form.as_p }}

                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Login</button>
                                        </div>
                                        <a href="{% url 'users:signup' %}" class="d-block mt-3 text-muted">Нет учетной записи?
                                            Зарегистрироватся</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>

</body>
</html>