{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - Сменить пароль
{% endblock %}


{% block content %}
    <div class="row">
    <div class="col-6 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Сменить пароль</h4>

                <form class="forms" method="post">
                    {% csrf_token %}
                    {{ form.non_form_errors }}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-primary mr-2">Принять</button>
                        <a href="{% url 'users:profile_edit' %}" class="btn btn-light">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
