{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load params_tag %}

{% block title %}
    {{ block.super }} - Профиль пользователя
{% endblock %}

{% block content %}
    <div class="profile-page tx-13">
        <div class="row ">
            <div class="col-12 grid-margin mx-auto">
                <div class="profile-header">
                    <div class="cover">
                        <div class="gray-shade"></div>
                        <figure>
                            <img src="{% static 'assets/img/1472042485_04.jpg' %}" class="img-fluid"
                                 alt="profile cover">
                        </figure>
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div>
                                <img class="profile-pic" src="{{ object.show_avatar }}" alt="profile">
                                <span class="profile-name">{% if object.get_full_name %}
                                    {{ object.get_full_name }}{% else %}
                                    {{ object.username }}{% endif %}</span>
                            </div>
                            <div class="d-none d-md-block">
                                <a href="{% url 'users:profile_edit' %}"
                                   class="btn btn-primary btn-icon-text btn-edit-profile">
                                    <i data-feather="edit" class="btn-icon-prepend"></i> Редактировать
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-4 ml-auto">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="card-title mb-0">О профиле</h6>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Присоединился:</label>
                            <p class="text-muted">{{ object.created_at }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Юзернейм пользователя:</label>
                            <p class="text-muted">{{ object.username }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                            <p class="text-muted">{{ object.email }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Имя пользователя:</label>
                            {% if object.first_name %}
                                <p class="text-muted">{{ object.first_name }}</p>
                            {% else %}
                                <p class="text-muted">Unknown</p>
                            {% endif %}

                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Фамилия пользователя:</label>
                            {% if object.last_name %}
                                <p class="text-muted">{{ object.last_name }}</p>
                            {% else %}
                                <p class="text-muted">Unknown</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-8 mr-auto">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <h6 class="card-title mt-3 ml-3">Список всех сообщений пользователя</h6>
                            <div class="card-body">
                                <div class="row table-responsive">
                                    <table class="table col-12">
                                        <thead>
                                        <tr>
                                            <th scope="col">№</th>
                                            <th scope="col">Канал обращения</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Проект <a
                                                    href="{% url 'users:profile_detail' %}?sorting=project_asc">
                                                <i class=" link-arrow {% if order == 'project' %}active{% endif %}"
                                                   data-feather="chevrons-down"
                                                   width="15" height="15"></i></a>
                                                <a href="{% url 'users:profile_detail' %}?sorting=project_desc"><i
                                                        class=" link-arrow
                                                   {% if order == '-project' %}active{% endif %}"
                                                data-feather="chevrons-up"
                                                width="15"
                                                height="15"></i></a>
                                            </th>
                                            <th scope="col">Компания <a
                                                    href="{% url 'users:profile_detail' %}?sorting=company_asc">
                                                <i class=" link-arrow {% if order == 'project__company' %}active{% endif %}"
                                                   data-feather="chevrons-down"
                                                   width="15" height="15"></i></a>
                                                <a href="{% url 'users:profile_detail' %}?sorting=company_desc"><i
                                                        class=" link-arrow
                                                   {% if order == '-project__company' %}active{% endif %}"
                                                data-feather="chevrons-up"
                                                width="15"
                                                height="15"></i></a>
                                            </th>
                                            <th scope="col">Дата создания сообщения <a
                                                    href="{% url 'users:profile_detail' %}?sorting=data_asc"><i
                                                    class="link-arrow {% if order == 'created_at' %}active{% endif %}"
                                                    data-feather="chevrons-down"
                                                    width="15"
                                                    height="15"></i></a>
                                                <a href="{% url 'users:profile_detail' %}?sorting=data_desc"><i
                                                        class="link-arrow {% if order == '-created_at' %}active{% endif %}"
                                                        data-feather="chevrons-up"
                                                        width="15"
                                                        height="15"></i></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in page_obj %}
                                            <tr class='clickable-row default-cursor'
                                                data-href="{{ message.get_absolute_url }}">
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ message.get_verbose_channel_name }}</td>
                                                <td>{{ message.description | safe }}</td>
                                                <td>{{ message.project.name }}</td>
                                                <td>{{ message.project.company.name }}</td>
                                                <td>{{ message.created_at }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7" class="text-center">Нет текущих сообщений</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if page_obj.paginator.num_pages > 1 %}
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <nav aria-label="...">
                                                <ul class="pagination pagination-rounded">
                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.previous_page_number }}&sorting={{ order }}">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                               aria-disabled="true">&laquo;</a>
                                                        </li>
                                                    {% endif %}

                                                    {% for page in page_obj.paginator.page_range %}
                                                        <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                                                            <a
                                                                    class="page-link"
                                                                    href="?page={{ page }}&sorting={{ order }}">{{ page }}</a>
                                                        </li>
                                                    {% endfor %}

                                                    {% if page_obj.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.next_page_number }}&sorting={{ order }}">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                               aria-disabled="true">&raquo;</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
