{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - Изменить профиль
{% endblock %}


{% block content %}
    <div class="row">
    <div class="col-6 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Изменить профиль</h4>

                <form class="forms" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_form_errors }}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'users:profile_edit_pass' %}" class="btn btn-info mr-2">Сменить пароль</a>
                        <div>
                            <button type="submit" class="btn btn-primary mr-2">Принять</button>
                        <a href="{% url 'users:profile_detail' %}" class="btn btn-light">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
