{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - ProjectList
{% endblock title %}

{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Основное меню</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список всех проектов</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Список всех проектов</h6>
                    <div class="row table-responsive">
                        <table class="table col-12">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Название проекта<a
                                        href="{% url 'projects:project_list' %}?sorting=name_asc">
                                    <i class=" link-arrow {% if order == 'name' %}active{% endif %}"
                                       data-feather="chevrons-down"
                                       width="15" height="15"></i></a>
                                    <a href="{% url 'projects:project_list' %}?sorting=name_desc"><i
                                            class="link-arrow {% if order == '-name' %}active{% endif %}"
                                            data-feather="chevrons-up"
                                            width="15"
                                            height="15"></i></a>
                                </th>
                                <th scope="col">Описание</th>
                                <th scope="col">Срок начала
                                    <a
                                            href="{% url 'projects:project_list' %}?sorting=data_start_asc"><i
                                            class="link-arrow {% if order == 'project_start' %}active{% endif %}"
                                            data-feather="chevrons-down"
                                            width="15"
                                            height="15"></i></a>
                                    <a href="{% url 'projects:project_list' %}?sorting=data_start_desc"><i
                                            class="link-arrow {% if order == '-project_start' %}active{% endif %}"
                                            data-feather="chevrons-up"
                                            width="15"
                                            height="15"></i></a>
                                </th>
                                <th scope="col">Срок окончания
                                    <a
                                            href="{% url 'projects:project_list' %}?sorting=data_stop_asc"><i
                                            class="link-arrow {% if order == 'project_stop' %}active{% endif %}"
                                            data-feather="chevrons-down"
                                            width="15"
                                            height="15"></i></a>
                                    <a href="{% url 'projects:project_list' %}?sorting=data_stop_desc"><i
                                            class="link-arrow {% if order == '-project_stop' %}active{% endif %}"
                                            data-feather="chevrons-up"
                                            width="15"
                                            height="15"></i></a>
                                </th>
                                <th scope="col">Стоимость</th>
                                <th scope="col">Компания</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr class='clickable-row default-cursor' data-href="{{ project.get_absolute_url }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description | safe }}</td>
                                    <td>{{ project.project_start | safe }}</td>
                                    <td>{{ project.project_stop }}</td>
                                    <td>{{ project.price }}</td>
                                    <td>{{ project.company.name }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">Нет текущих проектов</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% if is_paginated %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <nav aria-label="...">
                                    <ul class="pagination pagination-rounded">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.previous_page_number }}&sorting={{ order }}">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&laquo;</a>
                                            </li>
                                        {% endif %}

                                        {% for page in page_obj.paginator.page_range %}
                                            <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                                    class="page-link"
                                                    href="?page={{ page }}&sorting={{ order }}">{{ page }}</a></li>
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.next_page_number }}&sorting={{ order }}">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                   aria-disabled="true">&raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
