{% extends "base.html" %}


{% block title %}
    {{ block.super }} - {{ object.name }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-8 mx-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">детальная информация о проекте</h4>
                    <div class="table-responsive mb-3">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    Название Проекта
                                </td>
                                <td>
                                    {{ object.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Компания
                                </td>
                                <td>
                                    {{ object.company.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Дата старта проекта
                                </td>
                                <td>
                                    {{ object.project_start }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Дата окончание проекта
                                </td>
                                <td>
                                    {{ object.project_stop }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Цена проекта
                                </td>
                                <td>
                                    {{ object.price }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Описание проекта
                                </td>
                                <td>
                                    {{ object.description | safe }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if perms.contenttypes.manager_perm and request.user.pk == object.manager.pk  %}
                            <a href="{% url 'projects:project_edit' object.pk %}"
                               class="btn btn-warning ml-2">Изменить</a>
                        {% endif %}
                        <a href="{% url 'projects:project_list' %}" class="btn btn-light ml-2">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-10 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Список всех сообщений по проекту {{ project.name }}</h6>
                {% if perms.contenttypes.manager_perm %}
                        <a href="{% url 'messagess:message_create' project.pk %}" class="btn btn-info mb-3">Добавить</a>
                {% endif %}
                <div class="row table-responsive">
                    <table class="table col-12">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Канал обращения</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Оценка</th>
                            <th scope="col">Компания</th>
                            <th scope="col">Менеджер</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in project.message_project.all %}
                            <tr class='clickable-row default-cursor' data-href="{{ message.get_absolute_url }}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ message.get_verbose_channel_name }}</td>
                                <td>{{ message.description | safe }}</td>
                                <td>{{ message.grade | safe }}</td>
                                <td>{{ message.project.company.name }}</td>
                                <td>{{ message.manager.first_name }} {{ message.manager.last_name }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">Нет текущих сообщений</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
