{% load static %}
{% url 'companies:company_list' as company_list_url %}
{% url 'projects:project_list' as project_list_url %}
{% url 'messagess:message_list' as message_list_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}InfinityCRM{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}"/>
    {% block head %}{% endblock %}
</head>
<body>
<div class="main-wrapper">

    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="/" class="sidebar-brand">
                Infinity<span>CRM</span>
            </a>
            <div class="sidebar-toggler not-active">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="nav">
                <li class="nav-item nav-category">Основное меню</li>
                <li class="nav-item {% if request.path == company_list_url %}
                active
            {% endif %}">
                    <a href="{{ company_list_url }}" class="nav-link">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="link-title">Компании</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == project_list_url %}
                active
            {% endif %}">
                    <a href="{{ project_list_url }}" class="nav-link">
                        <i class="link-icon" data-feather="book"></i>
                        <span class="link-title">Проекты</span>
                    </a>
                </li>
                <li class="nav-item nav-item {% if request.path == message_list_url %}
                active
            {% endif %}">
                    <a href="{{ message_list_url }}" class="nav-link">
                        <i class="link-icon" data-feather="message-square"></i>
                        <span class="link-title">Сообщения</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrapper">

        <nav class="navbar">
            <a href="#" class="sidebar-toggler">
                <i data-feather="menu"></i>
            </a>
            <div class="navbar-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown nav-profile">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% if request.user.is_authenticated %}{{ request.user.show_avatar }}{% else %}{% static 'assets/img/AnonimUser.png' %}{% endif %}"
                                 alt="profile">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profileDropdown">
                            {% if request.user.is_authenticated %}
                                <div class="dropdown-header d-flex flex-column align-items-center">
                                    <div class="figure mb-3">
                                        <img src="{{ request.user.show_avatar }}" alt="{{ request.user.username }}">
                                    </div>
                                    <div class="info text-center">
                                        <p class="name font-weight-bold mb-0">{{ request.user.get_full_name }}</p>
                                        <p class="email text-muted mb-3">{{ request.user.email }}</p>
                                    </div>
                                </div>
                                <div class="dropdown-body">
                                    <ul class="profile-nav p-0 pt-3">
                                        {% if request.user.is_superuser %}
                                            <li class="nav-item">
                                                <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/admin/"
                                                   target="_blank" class="nav-link">
                                                    <i data-feather="shield"></i>
                                                    <span>Админка</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a href="{% url 'users:profile_detail' %}" class="nav-link">
                                                <i data-feather="user"></i>
                                                <span>Профиль</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'users:profile_edit' %}" class="nav-link">
                                                <i data-feather="edit"></i>
                                                <span>Редактирвать</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'users:logout' %}" class="nav-link">
                                                <i data-feather="log-out"></i>
                                                <span>Выход</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <span class="display-5 text-light ml-3">Авторизируйся</span>
                                <ul class="profile-nav p-0 pt-3">
                                    <li class="nav-item">
                                        <a href="{% url 'users:login' %}" class="nav-link">
                                            <i data-feather="user-check"></i>
                                            <span>Login</span>
                                        </a> /
                                        <a href="{% url 'users:signup' %}" class="nav-link">
                                            <i data-feather="user-plus"></i>
                                            <span>SignUp</span>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="page-content">
            {% block content %}{% endblock content %}
        </div>

        <footer class="footer d-flex flex-column flex-md-row align-items-center">
            <p class="text-muted text-center">Copyright © 2021 <a href="/" target="_blank">InfinityCRM</a>. All rights
                reserved</p>
        </footer>
    </div>
</div>

<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
<script src="{% static 'assets/js/moment.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% block script %}{% endblock %}
</body>
</html>