{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>InfinityCRM - 403</title>
	 <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}"/>
</head>
<body>
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
						<img src="{% static '/assets/img/404.svg' %}" class="img-fluid mb-2" alt="404">
						<h1 class="font-weight-bold mb-22 mt-2 tx-80 text-muted">403</h1>
						<h4 class="mb-2">Доступ запрещен</h4>
						<h6 class="text-muted mb-3 text-center">Уууупппссс!! Доступ на данную страницу запрещен.</h6>
						<a href="/" class="btn btn-primary">Назад на главную</a>
					</div>
				</div>

			</div>
		</div>
	</div>

<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>